/* AB test results css */

/* Format input headings */
h4 {
    font-size: 16px;
    font-weight: 600;
    color: #4a4949;
}

/* Panel title margin */
h1 {
	margin-top: 10px;
}

/* Key results outer container */
#resultsContainer {
	text-align: center;
	margin: auto;
	padding: 30px;
}

/* Key Results A & B & significance formatting */
#resultsRow1, #resultsRow4 {
	font-size: 16px;
	font-weight: 600;
}

/* Set key results div widths */
#resultsRow1Cell1, #resultsRow1Cell2, #resultsRow2Cell1, #resultsRow2Cell2 {
	display: inline-block;
	width: 30%;
}

/* Key results font for conversion rates */
#resultsRow2, #resultsRow5 {
	font-size: 20px;
	font-weight: 600;
	color: #515151;
}

/* Key results main outcome font */
#resultsRow3 {
	font-size: 80px;
	font-weight: 700;
	/*color: #004E54;*/
	line-height: 1;
	padding-top: 25px;
	letter-spacing: -4px;
}

/* Key results significance padding */
#resultsRow5 {
	padding-top: 30px;
}

/* Full results table shrink row size */
.gt_row {
	padding-top:1px !important;
	padding-bottom: 1px !important;
}

/* Full results shrink font size */
.gt_table {
	font-size: 13px !important;
}

/* Center and size the results title */
.shiny-text-output {
	margin:auto;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	width: 100%;
}

/*.navbar, .container-fluid {
  visibility: hidden;
  display: none;
}

body {
	padding-top: 0px;
}*/

/* Format the title bar */
.navbar{
  font-family: "Lato",helvetica,arial,sans-serf; 
  background-color: #000000;
  text-align: center;
} 

/* Navbar lineheight */
.navbar-nav>li>a {
	line-height: 1.42857143;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

/* Numerical inputs */
.form-control {
  font-size: 16px;
  padding: 0 10px;
  /*background-color: #bdd4f9;
  border: none;*/
  height: 30px;
  width: 150px;
}

/* Set the main body/text font */
p, a, body {
    font-family: "Lato", helvetica,arial,sans-serf;
    font-size: 1.1em;
    margin: 5px 0 5px 0;
}

/* Button formats */
.btn {
	font-size: 12px;
    padding: 6px;
    background: #1967be;
    color: white;
    border-color: #868383;	
}

/* screen shot formats */
#ssA, #ssB {
	padding: 15px;
	display: inline;
}

#ssA img, #ssB img {
	max-width: 45%;
	margin: 10px;
	border: 1px solid lightgrey;
}

/* Center top row blocks */
#testTitle, #hypothesis, #imagesboth {
	text-align: center;
}

/* test title/image container */
.testmeta {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/* Fix test title container height */
.topRow {
	height: auto !important;
	flex-basis: auto !important;
}

/* Fix padding above input pannel 
form {
	padding-top: 5px;
} */

/* pdf button */
#exportpdf {
	margin: 15px;
}



